.container {
    padding: 2% 2% 2% 2%;
    font-family: "STXingkai";
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.tu {
    width: 100%;
    height: 100%;
}

label {
    margin: 10px;
}

input {
    border: solid;
    border-width: 1px;
}

button {
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 10px;
}

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h2 {
    text-shadow: black;
}

.glow {
    color: #444;
    text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
  }